body {
    margin: 0px;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}
.container-fluid {
    padding: 0px !important;
}
.bg {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url('images/gym-bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.logo {
    width: 120px;
}
.navbar {
    margin-bottom: 16rem;
    transition: 0.3s ease-in-out;
}
.navbar-brand {
    margin-right: 0px !important;
}
i {
    font-size: x-large;
}
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

